**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
../ios/Flutter/App.framework
../ios/Flutter/Flutter.framework
../ios/Flutter/Flutter.podspec
../ios/Flutter/Generated.xcconfig
../ios/Flutter/ephemeral/
../ios/Flutter/app.flx
../ios/Flutter/app.zip
../ios/Flutter/flutter_assets/
../ios/Flutter/flutter_export_environment.sh
ServiceDefinitions.json
../ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
